#eyeb {
  transform: translateY(-9px);
  -webkit-animation: eyeb 5s linear infinite;
          animation: eyeb 5s linear infinite;
}

@-webkit-keyframes eyeb {
  0% {
    transform: translateY(-10);
    -ms-transform: translateY(-10);
    -moz-transform: translateY(-10);
  }
  25% {
    transform: translateY(0px);
    -ms-transform: translateY(0px);
    -moz-transform: translateY(0px);
  }
  75% {
    transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
  }
  100% {
    transform: translateY(10);
    -moz-transform: translateY(10);
    -ms-transform: translateY(10);
  }
}

@keyframes eyeb {
  0% {
    transform: translateY(-10);
    -ms-transform: translateY(-10);
    -moz-transform: translateY(-10);
  }
  25% {
    transform: translateY(0px);
    -ms-transform: translateY(0px);
    -moz-transform: translateY(0px);
  }
  75% {
    transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
  }
  100% {
    transform: translateY(10);
    -moz-transform: translateY(10);
    -ms-transform: translateY(10);
  }
}
#mouth {
  transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -webkit-animation: mouth 5s linear infinite;
          animation: mouth 5s linear infinite;
}

@-webkit-keyframes mouth {
  0% {
    transform: translateY(-10);
    -ms-transform: translateY(-10);
    -moz-transform: translateY(-10);
  }
  25% {
    transform: translateY(0px);
    -ms-transform: translateY(0px);
    -moz-transform: translateY(0px);
  }
  75% {
    transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
  }
  100% {
    transform: translateY(10);
    -moz-transform: translateY(10);
    -ms-transform: translateY(10);
  }
}

@keyframes mouth {
  0% {
    transform: translateY(-10);
    -ms-transform: translateY(-10);
    -moz-transform: translateY(-10);
  }
  25% {
    transform: translateY(0px);
    -ms-transform: translateY(0px);
    -moz-transform: translateY(0px);
  }
  75% {
    transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
  }
  100% {
    transform: translateY(10);
    -moz-transform: translateY(10);
    -ms-transform: translateY(10);
  }
}
#eyey2 {
  transform: translateX(-2px);
  -moz-transform: translateX(-2px);
  -ms-transform: translateX(-2px);
  -webkit-animation: eyey2 4s linear infinite;
          animation: eyey2 4s linear infinite;
}

@-webkit-keyframes eyey2 {
  0% {
    transform: translateX(-2);
    -ms-transform: translateX(-2);
    -moz-transform: translateX(-2);
  }
  25% {
    transform: translateX(2px);
    -moz-transform: translateX(2px);
    -ms-transform: translateX(2px);
  }
  75% {
    transform: translateX(-2px);
    -ms-transform: translateX(-2px);
    -moz-transform: translateX(-2px);
  }
  100% {
    transform: translateX(2);
    -ms-transform: translateX(2);
    -moz-transform: translateX(2);
  }
}

@keyframes eyey2 {
  0% {
    transform: translateX(-2);
    -ms-transform: translateX(-2);
    -moz-transform: translateX(-2);
  }
  25% {
    transform: translateX(2px);
    -moz-transform: translateX(2px);
    -ms-transform: translateX(2px);
  }
  75% {
    transform: translateX(-2px);
    -ms-transform: translateX(-2px);
    -moz-transform: translateX(-2px);
  }
  100% {
    transform: translateX(2);
    -ms-transform: translateX(2);
    -moz-transform: translateX(2);
  }
}
#notebook {
  transform: translateY(-4px);
  -moz-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  -webkit-animation: notebook 6s linear infinite;
          animation: notebook 6s linear infinite;
}

@-webkit-keyframes notebook {
  0% {
    transform: translateY(-4);
  }
  25% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(4);
  }
}

@keyframes notebook {
  0% {
    transform: translateY(-4);
  }
  25% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(4);
  }
}
#legs {
  transform: translateY(-9px);
  -webkit-animation: legs 6s infinite;
          animation: legs 6s infinite;
}

@-webkit-keyframes legs {
  0% {
    transform: translateY(-10);
    -ms-transform: translateY(-10);
    -moz-transform: translateY(-10);
  }
  25% {
    transform: translateY(0px);
    -ms-transform: translateY(0px);
    -moz-transform: translateY(0px);
  }
  75% {
    transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
  }
  100% {
    transform: translateY(10);
    -moz-transform: translateY(10);
    -ms-transform: translateY(10);
  }
}

@keyframes legs {
  0% {
    transform: translateY(-10);
    -ms-transform: translateY(-10);
    -moz-transform: translateY(-10);
  }
  25% {
    transform: translateY(0px);
    -ms-transform: translateY(0px);
    -moz-transform: translateY(0px);
  }
  75% {
    transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
  }
  100% {
    transform: translateY(10);
    -moz-transform: translateY(10);
    -ms-transform: translateY(10);
  }
}
#pe {
  -webkit-animation: pe 6s infinite;
          animation: pe 6s infinite;
}

@-webkit-keyframes pe {
  0% {
    transform: rotateX(2deg);
    -ms-transform: rotateX(2deg);
    -moz-transform: rotateX(2deg);
  }
}

@keyframes pe {
  0% {
    transform: rotateX(2deg);
    -ms-transform: rotateX(2deg);
    -moz-transform: rotateX(2deg);
  }
}
#shirt {
  transform: translateY(-9px);
  -ms-transform: translateY(-9px);
  -moz-transform: translateY(-9px);
  -webkit-animation: shirt 6s infinite;
          animation: shirt 6s infinite;
}

@-webkit-keyframes shirt {
  0% {
    transform: translateY(-10);
    -ms-transform: translateY(-10);
    -moz-transform: translateY(-10);
  }
  25% {
    transform: translateY(0px);
    -ms-transform: translateY(0px);
    -moz-transform: translateY(0px);
  }
  75% {
    transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
  }
  100% {
    transform: translateY(10);
    -moz-transform: translateY(10);
    -ms-transform: translateY(10);
  }
}

@keyframes shirt {
  0% {
    transform: translateY(-10);
    -ms-transform: translateY(-10);
    -moz-transform: translateY(-10);
  }
  25% {
    transform: translateY(0px);
    -ms-transform: translateY(0px);
    -moz-transform: translateY(0px);
  }
  75% {
    transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
  }
  100% {
    transform: translateY(10);
    -moz-transform: translateY(10);
    -ms-transform: translateY(10);
  }
}
#tshirt {
  transform: translateY(-9px);
  -ms-transform: translateY(-9px);
  -moz-transform: translateY(-9px);
  -webkit-animation: tshirt 6s infinite;
          animation: tshirt 6s infinite;
}

@-webkit-keyframes tshirt {
  0% {
    transform: translateY(-10);
    -ms-transform: translateY(-10);
    -moz-transform: translateY(-10);
  }
  25% {
    transform: translateY(0px);
    -ms-transform: translateY(0px);
    -moz-transform: translateY(0px);
  }
  75% {
    transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
  }
  100% {
    transform: translateY(10);
    -moz-transform: translateY(10);
    -ms-transform: translateY(10);
  }
}

@keyframes tshirt {
  0% {
    transform: translateY(-10);
    -ms-transform: translateY(-10);
    -moz-transform: translateY(-10);
  }
  25% {
    transform: translateY(0px);
    -ms-transform: translateY(0px);
    -moz-transform: translateY(0px);
  }
  75% {
    transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
  }
  100% {
    transform: translateY(10);
    -moz-transform: translateY(10);
    -ms-transform: translateY(10);
  }
}
#head {
  transform: translateY(-9px);
  -ms-transform: translateY(-9px);
  -moz-transform: translateY(-9px);
  -webkit-animation: head 6s infinite;
          animation: head 6s infinite;
}

@-webkit-keyframes head {
  0% {
    transform: translateY(-8);
  }
  25% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(8);
  }
}

@keyframes head {
  0% {
    transform: translateY(-8);
  }
  25% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(8);
  }
}
#ears {
  -webkit-animation: ears 6s linear infinite;
          animation: ears 6s linear infinite;
}

@-webkit-keyframes ears {
  0% {
    transform: translateY(-10);
    -ms-transform: translateY(-10);
    -moz-transform: translateY(-10);
  }
  25% {
    transform: translateY(0px);
    -ms-transform: translateY(0px);
    -moz-transform: translateY(0px);
  }
  75% {
    transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
  }
  100% {
    transform: translateY(10);
    -moz-transform: translateY(10);
    -ms-transform: translateY(10);
  }
}

@keyframes ears {
  0% {
    transform: translateY(-10);
    -ms-transform: translateY(-10);
    -moz-transform: translateY(-10);
  }
  25% {
    transform: translateY(0px);
    -ms-transform: translateY(0px);
    -moz-transform: translateY(0px);
  }
  75% {
    transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
  }
  100% {
    transform: translateY(10);
    -moz-transform: translateY(10);
    -ms-transform: translateY(10);
  }
}
#brows {
  -webkit-animation: brows 6.1s linear infinite;
          animation: brows 6.1s linear infinite;
}

@-webkit-keyframes brows {
  0% {
    transform: scale(0.96);
  }
  25% {
    transform: scale(1);
  }
  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.96);
  }
}

@keyframes brows {
  0% {
    transform: scale(0.96);
  }
  25% {
    transform: scale(1);
  }
  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.96);
  }
}/*# sourceMappingURL=HeaderIllustration.css.map */