.navbar{
    font-family: 'Libre Baskerville', serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 60px;
    color: azure;
    justify-content: space-between;
    border: blue solid 1px;

    nav{
        min-width: 100%;
    }

    ul {
        min-width: 100%;
        height: auto;
        display:flex;
        justify-content: space-between;
        align-items: center;
        border: red solid 1px;
    }

    a{
        color: inherit;
    }
}

