@import '../../helpers/darkTheme';

.navbar{
    font-family: 'Consolas', serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    height: 60px;
    color: $textColor;
    justify-content: space-between;
    font-size: 26px;
    margin: 20px 0 auto;
    // position:fixed;
    // top:0;

    .logo {
        font-family: 'Consolas', 'sans-serif';
        font-size: 24px;
        letter-spacing: 3px;
        width: 25%;
        font-weight: 400;

    }
    nav{
        width: 75%;
        display: flex;
        justify-content: flex-end;
    }

    ul {
        width: 50%;
        height: auto;
        display:flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        font-size: 18px;

        span {
            color: $accentColor;
        }
    }

    a{
        color: inherit;
    }
}

@media (min-width: 768px) {
    .navbar {
        ul{
            width:100%;
            justify-content: flex-end;
            li {
                margin-right: 1.5em;
            }
        }
    }
  }